head{background-color: rgb(245,245,245);}
body{background-color: rgb(245,245,245);}
h1{ 
    font-size:  5em;
    font-weight:bold ;
    color:rgb(112,112,112);
}

h2{
    font-size: 4em;
    font-weight:120;
    color:rgb(112,112,112);
}